<h1>New Gardener</h1>
<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanations">
        <h2><%= pluralize(@user.errors.count, "error") %> need to be corrected.</h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label :name%><br>
    <%= f.text_field :name%><br>
    <%= f.label :occupation%><br>
    <%= f.text_field :occupation%><br>
    <%= f.label :age%><br>
    <%= f.text_field :age%><br>
    <%= f.submit%>
<% end %>