<%= link_to 'Gardeners', users_path %> <%= link_to 'Edit Gardener', edit_user_path %>
<div>
    <h1>Name: <%= @user.name%></h1>
    <h3>Occupation: <%= @user.occupation%></h3>
    <h3>Age: <%= @user.age%></h3>
</div>
<div>
    <h4>Plants:</h4>
    <% @user.plants.each do |plant|%>
        <%= link_to plant.name, plant_path(plant) %>
    <% end %>
</div>